<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ministerio - Inicio</title>
    <%- include("partials/head")%>
</head>
<body>
    <%- include("partials/navigation")%>
    <div class="container">
        <h1 class="mt-4 mb-4">Inicio</h1>
        <div class="card mb-4 shadow animated fadeInDown">              
            <div class="card-header bg-dark text-white">
                <i class="fas fa-upload"></i>
                Crear casillero
            </div>
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <input type="text" id="dataName" class="form-control" placeholder="NOMBRE DEL CASILLERO">
                    </div>
                    <div class="col d-flex justify-content-center">
                        <button onclick="saveData()" class="p-2 btn-dark text-white rounded float-right">CREAR</button>
                    </div>
                </div>
            </div>
        </div>
        <% if(pilas) { %>
            <div class="card-columns animated fadeInDown">
                    <% pilas.forEach(function (pila) { %>
                        <a class="small text-white stretched-link" href="/pila/<%= pila._id %>">
                        <div class="card cardPersonal bg-secondary">
                            <div class="card-body">
                                <div class="row no-gutters align-items-center">
                                    <div class="col mr-2">
                                        <div class="text-xs font-weight-bold text-white mb-1">
                                            <%= pila.files.length %> Fotos</div>
                                        <div class="h5 mb-0 font-weight-bold  text-uppercase text-white"><%= pila.name %></div>
                                    </div>
                                    <div class="col-auto">
                                        <i class="fa-solid fa-floppy-disk fa-2x text-white"></i>
                                    </div>
                                </div>
                        </a>   
                            </div>
                            <div class="card-footer bg-dark">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <a class="text-white stretched-link" href="/edit/<%= pila._id %>">Editar nombre <i class="fa-solid fa-pen"></i></a>
                                    </div>
                                    <button onclick="deletePila('<%= pila._id %>')" class="btn btn-danger">Eliminar <i class="fa-solid fa-trash"></i></button>
                                </div>
                            </div>
                            
                        </div>     
                    <% }) %>
            </div>      
        <% }else { %>
            <div class="card mb-4 animated fadeInDown border-0">                
                <div class="card-body text-center">
                    <p>No hay datos para mostrar</p>
                </div>
            </div>
        <% } %>
    </div>
    <%- include("partials/footer")%>
</body>
</html>